[KdmGreeterTheme]
Encoding=UTF-8
Greeter=studio.xml
Name=zDev_11.4
Description=Theme for zDev_11.4
Author=<author>itomato</author> using SUSE Studio
Copyright=(c) 2011 Novell, Inc.
Screenshot=preview.png
